<!-- show elements home component    -->
<!-- comment them because we dont want to show them all the time, we will use routing -->
<!-- <app-elements-home></app-elements-home>
<app-collections-home></app-collections-home> -->

<!-- not a good way to do it, every time we switch Elements - Collections page, the app is refreshing and we don't want that - all js scripts are running again, check Inspact -> Network (filter All) when changing page -->
<!-- <a href="/elements">Elements</a>
<a href="/collections">Collections></a> -->

<div class="ui container">
  <div class="ui secondary pointing menu">

    <!-- 
    - Use routerLink instead to navigate a user around our application 
    - routerLink attribute talks directly to the router inside of our application and the router decides what to show on the screen depending on the current URL without refreshing the page, will show the  content on the same page but on different url, so no need to reload the entire application
    - use routerLinkActive attribute to highlight the active link - means that when the link is visited by the user we are going to apply whatever class we list in routerLinkActive="active" (in our case "active" class) and add the class to be applyed to the element (in this case apply to a <a> tag/element)
    -->

    <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
    <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
    <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
    <a routerLink="/mods" routerLinkActive="active" class="item">Modules</a>

  </div>
  <div class="ui segment">

    <!--
      - We will keep this from the initial Angular html template, relates to routing for modules 
      - The tag <router-outlet></router-outlet> from app.component.htm facilitates the display / rendering of the content in the app pages
      - Whenever Angular looks / checks the URL from the adress bar, will try to find some component that matches the current URL
      - Then, Angular will create an instance of that component and automatically display it inside of this router-outlet <router-outlet></router-outlet> in app.component.html template
      - Wherever we place our router-outlet is where our component is going to be created, and the component content will be displayed in place of that router-outlet thing
    -->

    <router-outlet></router-outlet>
  </div>
</div>